<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caught1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{62,69}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{62,69}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,89},{60,71}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,71}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,89},{60,71}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,71}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,89},{60,71}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,71}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{62,69}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{62,69}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{62,69}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{62,69}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{62,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{62,85}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{62,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{62,85}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{62,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{62,85}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{56,91}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{56,91}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught7.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{56,91}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>caught9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caught.png</string>
            <key>size</key>
            <string>{128,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:036b89f8fa3b4e6c1a591f83949eca4e:1af27cd2e40b53c03a6151c40aa5c747:dcdb8c5019aafe13767e73d34a7431d7$</string>
            <key>textureFileName</key>
            <string>caught.png</string>
        </dict>
    </dict>
</plist>
